body{
font-family: 'Roboto', sans-serif;
background-color: #222;
color:#ffffff;
}
a{
  color:#fff!important;
}
h2{
  font-size:1.4em;
  color:#fff;
}
h3, .contactos, footer{
  background-color: #3fa59d;
  color:#fff;
}
h5{
  color:#6c757d
}
.contacto, .contacto h2{
  background-color: white;
  color:gray;
}
.logo{
  width: 1.5em;
}
.card-body{
    background-color: #3fa59d;
}
.card-title{
  color:#fff;
}
